<% provide(:title, "About") %>
<h1>About dah Clubhouse</h1>
<p>Wanna post an embarrassing story where only other Clubhouse members can see who posted, but non-members are still taunted by the stories?</p>
<p>Well...that's what this app is about! ; )</p>
